/*
font-family: "Montserrat", sans-serif;
font-family: "Fraunces", serif;
*/


body{
    background-color: hsl(30, 38%, 92%);
    }

main{
    border-radius: 8rem;
}

.photo{
    width: 10px;
}

.content{
        background-color: white;
        padding: 20px;

    }

